{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'phone/setuptab.html' %}
	<table class="table table-striped table-hover">
     <thead>
        <th>#</th>
        <th>Provider</th>
        <th>
            {% if perms.account.add_serviceprovider %}
            <a class="btn btn-default btn-sm" href="{% url 'createprovider' %}"><strong> New Provider</strong></a>
            {% else %}Action{% endif %}
        </th>
    </thead>
    {% for record in records.object_list %}

            <td>{{forloop.counter}}</td>
            <td>{{record.provider}}</td>
            <td>
            {% if perms.account.change_serviceprovider %}
            <a href="{% url 'updateprovider' id=record.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Edit</a>
            {% endif %}         
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}