<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

  {% if not request.user.is_authenticated %} 
	<div class="container">
    {% if messages %}
		<div class="jumbotron">
			<ul class="messages">
				   {% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
					    <p>{{ message }}</p><hr>
					</li>
				   {% endfor %}
      </ul>
		</div>
		{% endif %}

    <div class="modal-dialog" style="box-shadow: 1px 1px 10px 1px #166d24;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="">
            {% csrf_token %}
            <label for="name-user" class="col-form-label">Username:</label>
            <div class="input-group input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
                <input type="text" id="name-user" name="username" placeholder="Username..." class="form-control" required="true">
            </div>
            <br/>
            <label for="word-pass" class="col-form-label">Password:</label>
            <div class="input-group input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
              </span>
              <input id="word-pass" type="password" name="password" placeholder="Password..." class="form-control" required="true">
            </div>
            <br/>
            <div align="center">
                <button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-log-in"></i><strong>Login</strong></button>
                <a href="{% url 'userregister' %}" class="btn btn-link btn-sm"><b><i class="glyphicon glyphicon-pencil"></i><strong> New User</strong></b><a>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    {% endif %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>