{% extends 'template.html' %}
{% block content %}
{% include 'staff/profiletab.html' %}
	<table class="table table-striped table-hover">
     <thead>
        <th>#</th>
        <th>Category</th>
        <th>Qualification</th>
        <th>Institution</th> 
        <th>Uploaded</th> 
        <th>Duration</th> 
        <th>
        {% if myrecord.status == "Updated" %}
        {% if perms.qualification.add_myqualification %} 
        <a class="btn btn-default btn-sm" href="{% url 'addmyqualification' %}"><strong>New Qualification<i class="glyphicon glyphicon-plus"></i></strong></a>
        {% endif %}
        {% else %}Action{% endif %}
        </th>
    </thead>
    {% for record in records.object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{record.category}}</td>
            <td>{{record.level}} {{record.field}}</td>
            <td>{{record.institute}}</td>
            <td>{% if record.is_uploaded %}<label class="btn btn-success btn-sm">YES<i class="glyphicon glyphicon-ok"></i></label>{% else %}<label class="btn btn-danger btn-sm">NO<i class="glyphicon glyphicon-remove"></i></label>{% endif %}</td>
            <td>
                <p><b>From:</b>  {{record.date_started}}</p>
                <p><b>To:</b>{{record.date_completed}}</p>
            </td>
            <td>
                {% if perms.qualification.change_myqualification %} {% if myrecord.status == "Updated" %}
                <a href="{% url 'updatemyqualification' id=record.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                {% endif %}{% endif %}
            </br>
                {% if perms.qualification.delete_myqualification %} {% if not record.documents %} {% if myrecord.status == "Updated" %}
                <a class="btn btn-danger btn-sm" href="{% url 'deletemyqualification' id=record.id %}" onclick="return confirm('Delete this Qualification record?')"><strong>Delete<i class="glyphicon glyphicon-trash"></i></strong></a>
                {% endif %} {% endif %}{% endif %}
            </br>
                {% if perms.qualification.view_mydocument %} {% if record.documents %}
                <a class="btn btn-link btn-sm" href="{% url 'myuploads' id=record.id %}"><strong>{{ record.documents }} Document(s)<i class="glyphicon glyphicon-eye-open"></i></strong></a>
                {% endif %} {% endif %}
            </br>
                {% if perms.qualification.add_mydocument %} {% if myrecord.status == "Updated" %}
                <a class="btn btn-link btn-sm" href="{% url 'uploadmydocument' id=record.id %}"><strong>Attach Document<i class="glyphicon glyphicon-file"></i></strong></a>
                {% endif %}{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}