{% extends 'template.html' %}
{% block content %}
{% include 'staff/stafftab.html' %}
	<table class="table table-striped table-hover">
     <thead>
        <th>#</th>
        <th>Position</th>
        <th>Datecreated</th>
        <th>{% if perms.staff.add_position %}
            <a class="btn btn-default btn-sm" href="{% url 'createposition' %}"><strong>New Position<i class="glyphicon glyphicon-plus"></i></strong></a>
            {% else %}Action{% endif %}
        </th>
    </thead>
    {% for record in records.object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{record.position}}</td>
            <td>{{record.datecreated}}</td>
            <td>
                {% if perms.staff.change_position %}
                <a href="{% url 'updateposition' id=record.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}