{% extends 'template.html' %}
{% block content %}
{% include 'staff/stafftab.html' %}
	<table class="table table-striped table-hover">
     <thead>
        <th>#</th>
        <th>Photo</th>
        <th>Staff IDs</th>
        <th>Staff Details</th>
        <th>Appointment</th>
        <th>{% if perms.staff.add_provincialstaff %}
            <a class="btn btn-default btn-sm" href="{% url 'createprovstaff' %}"><strong>New Provincial Staff<i class="glyphicon glyphicon-plus"></i></strong></a>
            {% else %}Action{% endif %}
        </th>
    </thead>
    {% for record in records.object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td style="width: 15%;">
                {% if record.profilepic == "profile/profile.jpg" %}
                <a href="{{record.profilepic.url}}"><img src="{{record.profilepic.url}}" style="width:30%;"></a>
                {% else %}
                <a href="{{record.profilepic.url}}"><img src="{{record.profilepic.url}}" style="width:50%;"></a>
                {% endif %}
            </td>
            <td>
                <p><b>Phone:</b> {{record.mobile}}</p>  
                <p><b>E-mail:</b> {{record.email}}</p> 
            </p> 
            </td>
            <td>
                <p><b>First Name:</b> {{record.fname}} </p>
                <p><b>Last Name:</b> {{record.lname}}</p>
                <p>{% if record.mname == "" %} {% else %} <b>Middle Name: </b> {{record.mname}} {% endif %} </p>
                <p><b>Gender: </b> {% if record.gender == 'M' %}Male{% else %}Female{% endif %}</p>
            </td>
            <td>
                <p><b>Province:</b> {{record.province}}</p>
                <p><b>Status:</b> {{record.status}}</p>
                <p><b>Confirmed:</b> {% if record.isconfirmed %}<a class="btn btn-success btn-sm">YES</a>{% else %}<a class="btn btn-danger btn-sm">NO</a>{% endif %}</p>
            </td>
            <td>
                {% if perms.staff.change_provincialstaff %}
                <a href="{% url 'updateprovstaff' id=record.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}