{% extends 'template.html' %}
{% block content %}
{% if title == "Profile" %}
<a href="{% url 'allstaff' %}" class="btn btn-default btn-sm" style="width:6%"><i class="glyphicon glyphicon-backward"></i>Back</a>	
{% else %}
<a href="{% url 'unapprovedstaff' %}" class="btn btn-default btn-sm" style="width:6%"><i class="glyphicon glyphicon-backward"></i>Back</a>	
{% endif %}
	<table class="table table-striped table-hover">
     <thead>
        <th></th>
        <th>My IDs</th>
        <th>My Details</th>
        <th>Station</th>
        <th>Appointment</th>
    </thead>
        <tr>
            <td style="width: 15%;">
                <a href="{{profile.profilepic.url}}"><img src="{{profile.profilepic.url}}" style="width:80%;"></a>
            </td>
            <td>
                <p><b>Emp No.:</b> {{profile.empnumber}}</p>
                <b>TS No.:</b> {{profile.tsnumber}}</p>
                <p><b>NRC No.:</b> {{profile.nrc}}</p>   
                <p><b>Phone:</b> {{profile.mobile}}</p>  
                <p><b>E-mail:</b> {{profile.email}}</p>   
            </td>
            <td>
                <p><b>Title:</b> {{profile.title}} </p>
                <p><b>First Name:</b> {{profile.fname}} </p>
                <p><b>Last Name:</b> {{profile.lname}}</p>
                <p>{% if profile.mname == "" %} {% else %} <b>Middle Name: </b> {{profile.mname}} {% endif %} </p>
                <p><b>Gender: </b> {% if profile.gender == 'M' %}Male{% else %}Female{% endif %}</p>
                <p><b>DOB: </b> {{profile.birth_date}}</p>
            </td>

            <td>
                <p><b>School:</b>{{profile.school}}</p>
                <p><b>District:</b> {{profile.district}}</p>
                <p><b>Province:</b> {{profile.province}}</p>
            </td>
                
            <td>
                <p><b>Position:</b> {{profile.position}}</p>
                <p><b>DFA:</b> {{profile.first_appointment}}</p>
                <p><b>Status:</b> {{profile.status}}</p>
                <p><b>Confirmed:</b> {% if profile.isconfirmed %}<a class="btn btn-success btn-sm">YES</a>{% else %}<a class="btn btn-danger btn-sm">NO</a>{% endif %}</p>
                {% if profile.status == "Pending" %}
                <a href="{% url 'approvestaff' id=profile.id %}" class="btn btn-success btn-sm" onclick="return confirm('Approve this Staff with NRC {{profile.fname}} {{profile.lname}}\'s Information?')"><i class="glyphicon glyphicon-thumbs-up"></i>Approve</a><br>
                {% endif %}
            </td>
        </tr> 
</table>

<table class="table table-striped table-hover">
    <thead>
       <th>#</th>
       <th>Category</th>
       <th>Qualification</th>
       <th>Institution</th> 
       <th>Duration</th> 
       <th>Uploaded</th> 
   </thead>
   {% for qualification in qualifications %}
       <tr>
           <td>{{forloop.counter}}</td>
           <td>{{qualification.category}}</td>
           <td>{{qualification.level}} {{record.field}}</td>
           <td>{{qualification.institute}}</td>
           <td><b>From:</b>{{qualification.date_started}}  <b>To:</b>{{qualification.date_completed}}</td>
           <td>{% if qualification.is_uploaded %}<label class="btn btn-success btn-sm">YES<i class="glyphicon glyphicon-ok"></i></label>{% else %}<label class="btn btn-danger btn-sm">NO<i class="glyphicon glyphicon-remove"></i></label>{% endif %}</td>
       </tr>
   {% endfor %}
</table>

<table class="table table-striped table-hover">
    <thead>
       
   </thead>
<tr>
<td>

     {% if uploadcount > 0 %}
     ===================================QUALIFICATION DOCUMENTS ({{uploadcount}})========================================
     {% endif %}

 <div class="row row-cols-3">
   {% for upload in uploads %}
   <div class="col">
       {% if upload.isimage %}
       <p>{{forloop.counter}}. {{upload.qualification}}<a href="{{record.documentupload.url}}"> View {{upload.doctitle}} <i class="glyphicon glyphicon-picture"></i></a></p>
       {% else %}
       <p>{{forloop.counter}}. {{upload.qualification}}<a href="{{record.documentupload.url}}"> Download {{upload.doctitle}} <i class="glyphicon glyphicon-file"></i></a></p>
       {% endif %}
   </div>
   {% endfor %}
 </div>
     {% if doccount > 0 %}
     =======================================MAIN DOCUMENTS ({{doccount}})=============================================
     {% endif %}
 <div class="row row-cols-3">
   {% for doc in docs %}
   <div class="col">
       {% if doc.isimage %}
       {{forloop.counter}}. {{doc.document}}<a href="{{doc.documentupload.url}}"> View</a>
       <a href="{{doc.documentupload.url}}">{{doc.doctitle}}<i class="glyphicon glyphicon-picture"></i></a>
       {% else %}
       <p>{{forloop.counter}}. {{doc.document}}<a href="{{doc.documentupload.url}}"> Download {{doc.doctitle}}<i class="glyphicon glyphicon-file"></i></a>
       {% endif %}
   </div>
   {% endfor %}
 </div>
</td>
</tr>
</table>
{% endblock %}