{% extends 'template.html' %}
{% block content %}
{% include 'qualification/qualificationtab.html' %}
	<table class="table table-striped table-hover">
     <thead>
        <th>#</th>
        <th>Document</th>
        <th>Description</th>
        <th>Active</th>
        <th>Datecreated</th>
        <th>{% if perms.qualification.add_maindocument %}
            <a class="btn btn-default btn-sm" href="{% url 'createmaindocument' %}"><strong>Add New</strong><i class="glyphicon glyphicon-plus"></i></strong></a>
            {% else %}Action{% endif %}
        </th>
    </thead>
    {% for record in records %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{record.docttype}}</td>
            <td>{{record.description}}</td>
            <td>{% if record.is_active %}<label class="btn btn-success btn-sm">YES<i class="glyphicon glyphicon-ok"></i></label>{% else %}<label class="btn btn-danger btn-sm">NO<i class="glyphicon glyphicon-remove"></i></label>{% endif %}</td>
            <td>{{record.datecreated}}</td>
            <td>
                {% if perms.qualification.change_maindocument %}
                <a href="{% url 'updatemaindocument' id=record.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}