{% extends 'template.html' %}
{% block content %}
{% include 'school/schooltab.html' %}
	<table class="table table-striped table-hover">
     <thead>
        <th>#</th>
        <th>Province</th>
        <th>District</th>
        <th>Schools</th>
        <th>Number of Staff</th>
        <th>Action</th>
    </thead>
    {% for record in records.object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{record.province}}</td>
            <td>{{record.district}}</td>
            <td>{{record.schoolnumber}}</td>
            <td>{{record.staffnumber}}</td>
            <td>
                {% if perms.school.change_district %}
                <a href="{% url 'updatedistrict' id=record.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}