{% extends 'actiontemplate.html' %}
{% load crispy_forms_tags %}
{% block content %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="myForm">
	<form method="POST" class="aligcenter">
		<h2>{{title}}</h2>
		
		{% csrf_token %}
		
			{{form|crispy}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if title == "Create School" %}
		<a href="{% url 'allschools' %}" class="btn btn-secondary btn-sm">Back</a>
		{% elif title == "Update District" %}
		<a href="{% url 'alldistricts' %}" class="btn btn-secondary btn-sm">Back</a>
		{% else %}
		<a href="{% url 'allprovinces' %}" class="btn btn-secondary btn-sm">Back</a>	
		{% endif %}
		<input type="submit" value="Done" class="btn btn-success btn-sm">
	</form>
</div>
{% endblock %}